workflow/appointment-agent.json
{
  "name": "Appointment Scheduler",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "0ca6f797-84cb-4515-96ac-6781df252a3c",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        -576,
        48
      ],
      "webhookId": "877785c6-ddfd-4530-bb96-f853b7a8b22b",
      "credentials": {
        "telegramApi": {
          "id": "erhnhdcvBt779Loe",
          "name": "Telegram account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Extract and parse the AI output text\nlet rawText = items[0].json.content?.parts?.[0]?.text;\n\n// Remove Markdown code block if present\nif (rawText) {\n  rawText = rawText.replace(/^\\s*```(?:json)?\\s*([\\s\\S]*?)\\s*```\\s*$/im, '$1').trim();\n}\n\nif (!rawText) {\n  throw new Error(\"No text content found in AI output.\");\n}\n\n// Parse JSON string from AI\nlet parsed;\ntry {\n  parsed = JSON.parse(rawText);\n} catch (err) {\n  throw new Error(`Failed to parse JSON from AI output: ${err.message}`);\n}\n\n// Extract fields\nconst doctorName = parsed.Doctor_Name;\nconst startTimeRaw = parsed.Start_Time;\nconst endTimeRaw = parsed.End_Time;\n\n// Validate fields\nif (!startTimeRaw || !endTimeRaw) {\n  throw new Error(`Missing Start_Time or End_Time. Got: Start_Time=${startTimeRaw}, End_Time=${endTimeRaw}`);\n}\n\n// Convert to Date objects\nconst startTime = new Date(startTimeRaw);\nconst endTime = new Date(endTimeRaw);\n\n// Check validity\nif (isNaN(startTime.getTime()) || isNaN(endTime.getTime())) {\n  throw new Error(`Invalid Start_Time or End_Time. Start_Time: ${startTimeRaw}, End_Time: ${endTimeRaw}`);\n}\n\n// Return in proper ISO format\nreturn [{\n  json: {\n    Doctor_Name: doctorName,\n    Start_Time: startTime.toISOString(),\n    End_Time: endTime.toISOString()\n  }\n}];"
      },
      "id": "3d527795-5ea2-4ea7-90ba-67b557fe2628",
      "name": "Format Time ISO",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        16,
        48
      ]
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "dc72abce1243adcb9bc9a0622e7cf75946ba884569b12247b0d282e92cd90fbb@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "N8N appointment"
        },
        "timeMin": "={{ $json.Start_Time }}",
        "timeMax": "={{ $json.End_Time }}",
        "options": {}
      },
      "id": "27d42475-18b6-4338-a177-6de5bd5abe16",
      "name": "Check Availability",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        208,
        48
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "ZJnsvLqX1fP9y1DN",
          "name": "Google Calendar account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.available }}",
              "value2": true
            }
          ]
        }
      },
      "id": "3586920b-2332-48be-921a-23b743b9074c",
      "name": "IF Slot Free",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        368,
        64
      ]
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "dc72abce1243adcb9bc9a0622e7cf75946ba884569b12247b0d282e92cd90fbb@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "N8N appointment"
        },
        "start": "={{ $json.Start_Time }}",
        "end": "={{ $json.End_Time }}",
        "additionalFields": {}
      },
      "id": "1e8ae9d9-2016-42ca-bf61-3ed0744dd3bd",
      "name": "Create Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        672,
        -64
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "ZJnsvLqX1fP9y1DN",
          "name": "Google Calendar account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const output = [];\n\nfor (const item of $input.all()) {\n  // If appointment is not available or missing start time\n  if (!item.json.Start_Time) {\n    // Suggest next 3 hourly slots from current time\n    const now = new Date();\n    const suggestions = [];\n\n    for (let i = 1; i <= 3; i++) {\n      const next = new Date(now.getTime() + i * 60 * 60 * 1000);\n      suggestions.push(next.toISOString());\n    }\n\n    output.push({ json: { available: false, suggestions } });\n  } else {\n    // Appointment exists, suggest next 3 slots after current start time\n    const baseTime = new Date(item.json.Start_Time);\n    const suggestions = [];\n\n    for (let i = 1; i <= 3; i++) {\n      const next = new Date(baseTime.getTime() + i * 60 * 60 * 1000);\n      suggestions.push(next.toISOString());\n    }\n\n    output.push({ json: { available: true, suggestions } });\n  }\n}\n\nreturn output;\n"
      },
      "id": "5f6e2bb2-ce03-4fff-8423-e7698559f2b2",
      "name": "Suggest Next Slots",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        656,
        192
      ],
      "disabled": true
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $node[\"IF Slot Free\"].branch === 'true' ? `✅ Your appointment with ${$json.Doctor_Name} is booked for ${$json.Start_Time}.` : `❌ That slot is busy. Here are some other available times: ${$node[\"Suggest Next Slots\"].json.suggestions.join(', ')}` }}",
        "additionalFields": {}
      },
      "id": "c29c719f-f7d7-49f2-b642-2a1fd06b55d1",
      "name": "Telegram Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        880,
        176
      ],
      "webhookId": "6bc7569b-8525-44a5-959c-e0b0b02e7593",
      "credentials": {
        "telegramApi": {
          "id": "erhnhdcvBt779Loe",
          "name": "Telegram account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "You are an appointment scheduling AI. \nThe user will send messages like:\n\"Book appointment with Dr. Raj Malhotra on 2025-11-10 at 2 PM\" or \"Schedule Dr. Neha Verma tomorrow at 3 PM.\"\n\nExtract and return ONLY this JSON:\n{\n  \"Doctor_Name\": \"<Doctor full name>\",\n  \"Start_Time\": \"YYYY-MM-DDTHH:00:00Z\",\n  \"End_Time\": \"YYYY-MM-DDTHH:00:00Z\"\n}\n\nRules:\n- Default duration: 1 hour.\n- Convert all times to 24-hour format and IST timezone, then convert to UTC (Z) ISO8601 before output.\n- Return ONLY JSON. No explanations, text, or markdown.\n- If date/time not found, leave them empty.\n"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -432,
        48
      ],
      "id": "e5b02e36-512b-4bd4-bd4a-6a3ea269381c",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "ElSGOS3eRDPZPQ5x",
          "name": "Google Gemini(PaLM) Api account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "try {\n  const data = JSON.parse($json.text || JSON.stringify($json));\n  return [{ json: data }];\n} catch (e) {\n  return [{ json: { error: \"Invalid JSON\", raw: $json } }];\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        48
      ],
      "id": "5263c614-a90c-40ea-acd8-e43d38dfa692",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=✅ Appointment confirmed with {{ $json.Doctor_Name }}!\n📅 Date: {{ new Date($json.start?.dateTime || $json.Start_Time).toLocaleString('en-IN', { timeZone: 'Asia/Kolkata' }) }}\n📍 Calendar: N8N appointment\n",
        "additionalFields": {}
      },
      "id": "e1e880dd-3c69-4a0c-97b8-b9ba22763e75",
      "name": "Telegram Reply1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        896,
        -64
      ],
      "webhookId": "6bc7569b-8525-44a5-959c-e0b0b02e7593",
      "credentials": {
        "telegramApi": {
          "id": "erhnhdcvBt779Loe",
          "name": "Telegram account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "=848013738388330",
        "recipientPhoneNumber": "919356819635",
        "textBody": "={{ $json.message }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        688,
        544
      ],
      "id": "23673a0d-6d8c-48a3-897f-292efd62f93a",
      "name": "Send message",
      "webhookId": "20fd7cab-7d9d-4ba0-bc77-063dd3d88424",
      "credentials": {
        "whatsAppApi": {
          "id": "VBmmbfgMfW7UW7ed",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "=🩺 System Prompt: Hospital Appointment Assistant (Improved Production Version)\n🎯 Role\n\nYou are a professional Hospital Appointment Assistant for Sunrise Multispeciality Hospital, communicating only over WhatsApp.\nYour purpose is to greet patients warmly, share doctor details, and manage appointment bookings between 2 PM – 5 PM (default duration: 1 hour).\n\nYou must:\n\nSend confirmations via WhatsApp and Gmail.\n\nSave booking details to Google Sheets (including Event ID).\n\nCreate and delete Google Calendar events automatically.\n\n⚠️ Important System Rules\n\nNever show JSON, raw data, timestamps, tool calls, or internal system info to the patient.\n\nAlways call <function=Tool_Check_Availability> before attempting to create any calendar event. Proceed only if the returned object’s busy array is empty.\n\nAlways respond in plain, polite, professional, WhatsApp-friendly text.\n\nMaintain full context until the appointment is confirmed or cancelled.\n\nIf the requested time is unavailable, suggest the next available slot within 2–5 PM (today → tomorrow → day after tomorrow).\n\nAlways ensure the year displayed = 2025.\n\nUse ISO 8601 timestamps internally when creating or checking calendar events.\n\nInclude patient details (name, phone, email) inside the description field of the Google Calendar event.\n\nField names in tool calls must always match the schema exactly (e.g., description, not Description).\n\n🩷 1️⃣ Welcome Message\n\nWhen the patient sends a greeting like “Hi” or “Hello”:\n\nReply:\n\nWelcome to Sunrise Multispeciality Hospital! 🙏\nHow can I assist you today? Please choose an option:\n\n1️⃣ Know about our Doctors 🧑‍⚕️\n2️⃣ Book an Appointment 📅\n\n👩‍⚕️ 2️⃣ Doctor Information\n\nIf the patient selects “Know about Doctors”, respond clearly:\n\nHere’s a list of our available doctors:\n\n👩‍⚕️ Dr. Aditi Sharma – Cardiologist\nExperience: 12 years in Cardiology\nAvailable: 2 PM – 5 PM\n\n🧑‍⚕️ Dr. Raj Malhotra – Orthopedic Specialist\nExperience: 10 years in Orthopedics\nAvailable: 2 PM – 5 PM\n\n👩‍⚕️ Dr. Neha Verma – Dermatologist\nExperience: 8 years in Dermatology\nAvailable: 2 PM – 5 PM\n\n🧑‍⚕️ Dr. Arjun Mehta – Neurologist\nExperience: 15 years in Neurology\nAvailable: 2 PM – 5 PM\n\n(Keep messages concise and easy to read on WhatsApp.)\n\n📅 3️⃣ Appointment Booking Flow\n\nDefault duration: 1 hour if end time not specified.\nAlways check Google Calendar availability silently before confirming.\n\nStep 1 – Collect details\n\nAsk politely:\n\nPlease provide the doctor’s name, date, and preferred time (between 2–5 PM).\n\nStep 2 – Availability check\n\nBefore confirming any appointment, always check Google Calendar availability using:\n\n<function=Tool_Check_Availability>{\n  \"Start_Time\": \"[Start_Time in ISO 8601 format]\",\n  \"End_Time\": \"[End_Time in ISO 8601 format]\"\n}\n\nExample:\n<function=Tool_Check_Availability>{\n  \"Start_Time\": \"2025-11-10T14:00:00Z\",\n  \"End_Time\": \"2025-11-10T15:00:00Z\"\n}\n\n✅ Tool Response Format\n{\n  \"busy\": [\n    { \"start\": \"2025-11-10T14:00:00Z\", \"end\": \"2025-11-10T15:00:00Z\" }\n  ]\n}\n\n\nIf busy is empty → slot is free\nIf slot is free:\n\n✅ The slot with Dr. [Doctor_Name] on [Start_Time] – [End_Time] is available.\nPlease provide your full name, phone number, and email to continue.\n\nIf busy has items → slot is busy\n\nStep 3 – Confirmation summary\n\nAfter collecting details, summarize:\n\nYou’re booking an appointment with Dr. [Doctor_Name]\n📅 Date & Time: [Start_Time] – [End_Time]\n👤 Name: [Patient_Name]\n📞 Phone: [Patient_Phone]\n✉️ Email: [Patient_Email]\n\nReply YES to confirm or NO to make changes.\n\nStep 4 – Create appointment on confirmation\n\nIf the patient replies “YES”:\n\n<function=Create_an_event_in_Google_Calendar>\n{\n  \"Summary\": \"Appointment: Dr. [Doctor_Name] with [Patient_Name]\",\n  \"Start\": \"[Start_Time in ISO 8601 format]\",\n  \"End\": \"[End_Time in ISO 8601 format]\",\n  \"Use_Default_Reminders\": true\n}\n\nStep 5 – Save appointment to Google Sheets\n\nAfter event creation, append a row with all details and Event ID:\n\n<function=Append_row_in_sheet_in_Google_Sheets>{\n  \"Doctor_Name\": \"[Doctor_Name]\",\n  \"Patient_Name\": \"[Patient_Name]\",\n  \"Patient_Email\": \"[Patient_Email]\",\n  \"Patient_Phone\": \"[Patient_Phone]\",\n  \"Start_Time\": \"[Start_Time in 'YYYY-MM-DD HH:mm:ss']\",\n  \"End_Time\": \"[End_Time in 'YYYY-MM-DD HH:mm:ss']\",\n  \"Event_ID\": \n}\n\nStep 6 – Send confirmations\n\nWhatsApp message:\n\n✅ Your appointment with Dr. [Doctor_Name] has been successfully booked!\n📅 Date & Time: [Start_Time] – [End_Time]\n📧 Confirmation sent to your email: [Patient_Email]\n\nWe look forward to seeing you soon. 🙏\n\nGmail (internal only):\nUse:\n\n<function=Send_a_message_in_Gmail>{\n  \"To\": \"[Patient_Email]\",\n  \"Subject\": \"Appointment Confirmation – Sunrise Multispeciality Hospital\",\n  \"Message\": \"Dear [Patient_Name], your appointment with Dr. [Doctor_Name] is confirmed for [Start_Time] – [End_Time]. Thank you for choosing Sunrise Multispeciality Hospital.\"\n}\n\n🧠 Tool Usage Reference\n\nUse tools exactly as shown below (field names are case-sensitive):\n\nPurpose\tFunction\tJSON Example\nCheck availability\t<function=Tool_Check_Availability>\t{ \"Start\": \"...\", \"End\": \"...\" }\nCreate event\t<function=Create_an_event_in_Google_Calendar>\t{ \"Summary\": \"...\", \"Start\": \"...\", \"End\": \"...\" }\nAppend sheet\t<function=Append_row_in_sheet_in_Google_Sheets>\t{ \"Doctor_Name\": \"...\", \"Patient_Name\": \"...\", ... }\nSend email\t<function=Send_a_message_in_Gmail>\t{ \"To\": \"...\", \"Subject\": \"...\", \"Message\": \"...\" }\n\nNever expose tool names or JSON to the user.\n\n💬 Tone & Style\n\nWarm, empathetic, and professional.\n\nNo robotic phrasing.\n\nUse light emojis to make the tone friendly and human.\n\nExample:\n\n“Sure! I’d be happy to help you schedule your appointment 😊”"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        64,
        544
      ],
      "id": "4924f753-a237-4cc9-bc68-67007d97033d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -336,
        816
      ],
      "id": "f8648c9b-047a-4428-8c4f-9cc3d9a5805b",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "3V3ocre1qkg2I7z5",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -288,
        544
      ],
      "id": "fd5f3567-733d-454b-801d-3b2e463316d6",
      "name": "WhatsApp Trigger",
      "webhookId": "690371ca-8304-4927-a334-cc0a41e92797",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "ZaAaChpqMWgFcFA7",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "dc72abce1243adcb9bc9a0622e7cf75946ba884569b12247b0d282e92cd90fbb@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "N8N appointment"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "useDefaultReminders": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Use_Default_Reminders', ``, 'boolean') }}",
        "additionalFields": {
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        256,
        816
      ],
      "id": "ba24c1c5-20f1-4455-bff0-382265b57dd3",
      "name": "Create_an_event_in_Google_Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "ZJnsvLqX1fP9y1DN",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1KO0V1FtV7Xc5o7I9xXHs3qdpTmrP1l6lHkxsL0rFTR8",
          "mode": "list",
          "cachedResultName": "AI Appointment System",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KO0V1FtV7Xc5o7I9xXHs3qdpTmrP1l6lHkxsL0rFTR8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Appointments",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KO0V1FtV7Xc5o7I9xXHs3qdpTmrP1l6lHkxsL0rFTR8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Doctor_Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Doctor_Name', ``, 'string') }}",
            "Patient_Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Patient_Name', ``, 'string') }}",
            "Patient_Email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Patient_Email', ``, 'string') }}",
            "Patient_Phone": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Patient_Phone', ``, 'string') }}",
            "Start_Time": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Time', ``, 'string') }}",
            "End_Time": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_Time', ``, 'string') }}",
            "Event_ID": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Doctor_Name",
              "displayName": "Doctor_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Patient_Name",
              "displayName": "Patient_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Patient_Email",
              "displayName": "Patient_Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Patient_Phone",
              "displayName": "Patient_Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Start_Time",
              "displayName": "Start_Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "End_Time",
              "displayName": "End_Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Event_ID",
              "displayName": "Event_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Reminder_Status",
              "displayName": "Reminder_Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        464,
        784
      ],
      "id": "24d3fece-cf70-46d9-82fb-8aa8b770c1aa",
      "name": "Append_row_in_sheet_in_Google_Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5UsbojwsZgtX1C8c",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        640,
        768
      ],
      "id": "1da7ac3f-a87c-46e4-8b1e-f48e641c3e72",
      "name": "Send_a_message_in_Gmail",
      "webhookId": "2037a012-687a-4240-a719-a0f0a0c0d295",
      "credentials": {
        "gmailOAuth2": {
          "id": "WYalyUu2IDbX6y3L",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "dc72abce1243adcb9bc9a0622e7cf75946ba884569b12247b0d282e92cd90fbb@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "N8N appointment"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Time', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_Time', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        80,
        800
      ],
      "id": "df826521-246d-45c5-909f-7c1e98ef3374",
      "name": "Tool_Check_Availability",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "ZJnsvLqX1fP9y1DN",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.messages[0].from }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -128,
        816
      ],
      "id": "534cfddc-41fe-4a58-b096-72247ec948cf",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.output || \"\";\n\nfunction find_all_functions(text) {\n  const res = [];\n  let idx = 0;\n  while (true) {\n    const fn_start = text.indexOf(\"<function=\", idx);\n    if (fn_start === -1) break;\n    const fn_name_start = fn_start + 10;\n    const fn_name_end = text.indexOf(\">\", fn_name_start);\n    if (fn_name_end === -1) break;\n    const fn_name = text.substring(fn_name_start, fn_name_end);\n    const json_start = fn_name_end + 1;\n    let brace_open = text.indexOf(\"{\", json_start);\n    let brace_close = -1;\n    let depth = 0;\n    for (let i = brace_open; i < text.length; i++) {\n      if (text[i] === \"{\") depth++;\n      if (text[i] === \"}\") depth--;\n      if (depth === 0) {\n        brace_close = i;\n        break;\n      }\n    }\n    if (brace_open !== -1 && brace_close !== -1) {\n      res.push([fn_name, text.substring(brace_open, brace_close + 1)]);\n      idx = brace_close + 1;\n    } else break;\n  }\n  return res;\n}\n\nfunction get_value(s, key) {\n  const regex = new RegExp(`\"${key}\"\\\\s*:\\\\s*\"([^\"]+)\"`);\n  const match = s.match(regex);\n  return match ? match[1] : \"\";\n}\n\nfunction format_time_readable(iso_str) {\n  if (iso_str.length >= 16 && iso_str[4] === \"-\" && iso_str[7] === \"-\") {\n    const [date, time] = iso_str.split(\"T\");\n    const [y, m, d] = date.split(\"-\");\n    const timePart = time ? time.slice(0, 5) : \"00:00\";\n    let [hour, minute] = timePart.split(\":\");\n    hour = parseInt(hour);\n    const ampm = hour < 12 ? \"AM\" : \"PM\";\n    const h12 = hour === 0 ? 12 : hour > 12 ? hour - 12 : hour;\n    const months = [\n      \"January\", \"February\", \"March\", \"April\", \"May\", \"June\",\n      \"July\", \"August\", \"September\", \"October\", \"November\", \"December\"\n    ];\n    const mon_name = months[parseInt(m) - 1] || m;\n    return `${d} ${mon_name} at ${h12}:${minute} ${ampm}`;\n  }\n  return iso_str;\n}\n\nlet clean_message = \"\";\nconst plain_text_part = raw.split(\"<function=\")[0].trim();\nif (plain_text_part) clean_message += plain_text_part + \"\\n\";\n\nconst matches = find_all_functions(raw);\nfor (const [tool_name, json_str] of matches) {\n  if (tool_name === \"Tool_Check_Availability\") {\n    const start = format_time_readable(get_value(json_str, \"Start_Time\"));\n    const end = format_time_readable(get_value(json_str, \"End_Time\"));\n    const doctor = get_value(json_str, \"Doctor_Name\") || \"the doctor\";\n    clean_message += `✅ The slot with ${doctor} is available on ${start} – ${end}.\nPlease provide your full name, phone number, and email to continue.\\n`;\n  } else if (\n    tool_name === \"Tool_Book_Appointment\" ||\n    tool_name === \"Create_an_event_in_Google_Calendar\"\n  ) {\n    const start = format_time_readable(\n      get_value(json_str, \"Start\") || get_value(json_str, \"Start_Time\")\n    );\n    const end = format_time_readable(\n      get_value(json_str, \"End\") || get_value(json_str, \"End_Time\")\n    );\n    const summary = get_value(json_str, \"Summary\") || \"an appointment\";\n    const doctor = summary.replace(\"Appointment with \", \"\");\n    const patient = get_value(json_str, \"Patient_Name\") || \"the patient\";\n    clean_message += `✅ Your appointment with ${doctor} has been successfully booked!\n📅 Date & Time: ${start} – ${end}\\n`;\n  } else if (tool_name === \"Tool_Cancel_Appointment\") {\n    const start = format_time_readable(get_value(json_str, \"Start_Time\"));\n    const doctor = get_value(json_str, \"Doctor_Name\") || \"the doctor\";\n    clean_message += `❌ Your appointment with ${doctor} on ${start} has been cancelled successfully.\\n`;\n  }\n}\n\nif (!clean_message.trim())\n  clean_message = \"⚠️ I didn't receive a valid response. Please try again.\";\n\nreturn [{ json: { message: clean_message.trim() } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        544
      ],
      "id": "570d8c2b-906d-4d7c-add1-8287f69e4ea7",
      "name": "Code in JavaScript1"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Time ISO": {
      "main": [
        [
          {
            "node": "Check Availability",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Availability": {
      "main": [
        [
          {
            "node": "IF Slot Free",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Slot Free": {
      "main": [
        [
          {
            "node": "Create Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Suggest Next Slots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Event": {
      "main": [
        [
          {
            "node": "Telegram Reply1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Suggest Next Slots": {
      "main": [
        [
          {
            "node": "Telegram Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Format Time ISO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create_an_event_in_Google_Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Append_row_in_sheet_in_Google_Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send_a_message_in_Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool_Check_Availability": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7d4ebf9e-6509-4ab0-b8c8-332b5a763687",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "55a8c61299fa76ffba55984e01df4b9c6a672c40075051aa8518d5d69c444397"
  },
  "id": "Go8tGlDXAPTXtchg",
  "tags": []
}
